<!-- <div class="row" style="    padding-top: 1rem;">
    <div class="col-1.5" style="padding-left:20px ;">
        <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="text-dark fa fa-navicon fa-lg py-2 p-1"></i>
        </a>
    </div>
    <div class="col">
        <span style="font-size: 18px;
    font-weight: 500;">Product Upload</span>
    </div>
    <div class="col-2">
        <span><i class="fas fa-up-right-from-square" style="    padding-right: 5px;"></i>Logout</span>
    </div>
</div>
<hr> -->
<form #uploadForm="ngForm">
<div class="row">

    <div class="col-12" *ngIf="isPopup">
        <h2>Edit Product</h2>
    </div>
    <div class="col-4 inputSpaceBtm">
        <label for="prodName">Product Name</label>
        <input type="text" id="prodName" name="prodName" #prodName="ngModel" class="form-control" required ngDefaultControl [(ngModel)]="productName">
        <span class="help-block" class="errorTxt"  *ngIf="!prodName.valid && prodName.touched">Enter valid Product Name</span>
    </div>
    <div class="col-4 inputSpaceBtm">
        <label for="prodDes">Product Description</label>
        <input type="text" id="prodDes" name="prodDis" #prodDes="ngModel" class="form-control" required ngDefaultControl [(ngModel)]="productDescription">
        <span class="help-block" class="errorTxt" *ngIf="!prodDes.valid && prodDes.touched">Enter valid Product Description</span>
    </div>
    <div class="col-4 inputSpaceBtm">
        <label for="prodMrp">Product MRP</label>
        <input type="text" id="prodMrp" name="prodMrp" #prodMrp="ngModel" numberValidation
         class="form-control" required ngDefaultControl [(ngModel)]="productMrp">
        <span class="help-block" class="errorTxt" *ngIf="!prodMrp.valid && prodMrp.touched">Enter valid Product
            MRP</span>
    </div>
    <div class="col-4 inputSpaceBtm">
        <label for="prodDis">Product Discount Price</label>
        <input type="text" id="prodDis" name="prodDiscount" class="form-control" numberValidation ngDefaultControl [(ngModel)]="productDiscount">
    </div>
    <div class="col-2 inputSpaceBtm">
        <label for="customSwitch1">Deal Of The Day</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="deal" name="deal" class="custom-control-input" [(ngModel)]="isDeal" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1" ngDefaultControl ></label>
        </div>

    </div>
    <div class="col-2 inputSpaceBtm">
        <label for="customSwitch2">Free Delivery</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="free" class="custom-control-input" ngDefaultControl [(ngModel)]="isFreeDelivery" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2"></label>
        </div>
    
    </div>
    <div class="col-2 inputSpaceBtm">
        <label for="customSwitch3">No EMI</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="emi" class="custom-control-input" ngDefaultControl [(ngModel)]="isEmi" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3"></label>
        </div>
    
    </div>
    <div class="col-4 inputSpaceBtm">
        <label for="prodDes">Thumbnail Image</label>
    <div class="custom-file">
        <input type="file" name="url" class="custom-file-input" id="customFile" (change)="upload($event)">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    </div>
    <div class="col-3">
        <img [src]="imageUrl" style="width: inherit;" alt="" id="imgUrlSet">

    </div>
</div>
</form>
<div class="row">
    <div class="col" style="text-align: end;" *ngIf="isPopup">
        <button class="btn btn-danger" (click)="closePop()">Close</button>
    </div>
    <div class="col" *ngIf="!isPopup"></div>
    <div class="col-1.5" style="text-align: end;" *ngIf="!isPopup">
        <button [disabled]="!uploadForm.valid" class="btn btn-success" (click)="addProduct(uploadForm.value)">Submit</button>
    </div>
    <div class="col-1.5" style="text-align: end;" *ngIf="isPopup">
        <button [disabled]="!uploadForm.valid" class="btn btn-success" (click)="updateProduct()">Submit</button>
    </div>

</div>