.dealSty{
       background: #d50000;
    color: white;
    padding: 4px;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}
.rateSty{
    font-size: 15px;
    font-weight: 500;
}
.editSty{
    text-align: center;
    /* padding-top: 49px; */
    padding-top: 3%;
    border-left: solid 1px gainsboro;
}
.iconHeight{
    height: 50%;
}