<!-- <p>{{prodtype}}</p> -->

<div class="row">
    <div class="col-12">
        <span *ngIf="prodtype == 'electronics'">Electronics devices for home office</span>
        <span *ngIf="prodtype == 'fruits'">Flat ₹75 cashback | Fruits & vegetables | BB Fresh</span>
        <span *ngIf="prodtype == 'houseHolds'">Just launched | BB brands & more</span>


    </div>
</div>

<div class="row">
    <div class="col-10">
    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    <div class="col" style="text-align: end;">
        <button class="btn btn-sm btn-primary" (click)="refresh()"><i class="fas fa-refresh"></i></button>
    </div>

</div>
<div class="scrollList">
<div *ngFor="let item of productList |paginate: { itemsPerPage: 3, currentPage: p }" class="row" style="    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;margin-bottom: 10px;">
    <div class="col-12">

        <div class="row">
            <div class="col-2" style="background: #f4f4f4;">
                <img style="    width: inherit;" [src]="item?.url" alt="">
            </div>
            <div class="col">
                <div style="font-weight: 500;">{{item?.product_description}}</div>
                <div class="dealSty" style="margin-top: 5px;" *ngIf="item?.is_deal">Deal of the day</div>
                <div class="rateSty" style="margin-top: 5px;">₹{{item?.discount_price}} <span
                        style="font-size: 12px;color: rgb(152, 152, 152);">M.R.P: <span
                            style="text-decoration: line-through;">₹{{item?.product_mrp}}</span> ({{item?.off}}%
                        off)</span> </div>
                <div style="font-size: 12px;" style="margin-top: 5px;" *ngIf="item?.is_no_emi">Save extra with No Cost
                    EMI</div>
                <div style="font-size: 14px;font-weight: 500;" *ngIf="item?.is_free_delivery">FREE Delivery by BB Mart
                </div>
            </div>
            <div *ngIf="fromPage=='admin'" class="col-1 editSty">
                <div class="iconHeight">
                    <i (click)="editProduct(item)" class="fas fa-pen" style="color: rgb(2, 2, 186);"></i>
                </div>
                <div class="iconHeight">
                    <i (click)="deleteProduct(item.unique_id)" class="fas fa-trash" style="color: rgb(186, 2, 2);"></i>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
